@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.LayoutWrapper {
    width: 100%;
    height: 100%;
}

.Layout-Header {
    @include flex-center;
    justify-content: space-between !important;
    color: white !important;
    &-left{
        @include flex-center;
        width: 150px;
        height: 100%;
        font-size: 15px;
    }
    &-right{
        @include flex-center;
        .user{
            margin-right: 20px;
        }
        .logout-icon{
            &:hover{
                cursor: pointer;
                transform: scale(1.3)
            }
        }
    }
}

.Layout-menuItem{
    width: 100%;
    height: 100%;
    @include flex-center;
}